.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.country-card {
  background: var(--card-bg);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadow-md);
  transition: 0.3s;
}

.country-card:hover {
  transform: translateY(-8px);
}

/* IMAGE */
.country-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* CONTENT */
.country-content {
  padding: 15px;
}

.country-content h3 {
  margin-bottom: 8px;
  color: var(--primary-blue);
}

.country-content p {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

/* TAG */
.job-tag {
  display: inline-block;
  margin-top: 10px;
  background: var(--gradient-light);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: var(--primary-red);
}